/* 
# simpleeasyapps.github.io

Copyright:
It is illegal to copy, distribute or modify websites, software, programs, applications, codes, assets, repositories, or any other files of Simple Easy Apps.

It is illegal to use "Paid Software" - "Paid Programs" - "Paid Applications" and any other "Paid Services" of Simple Easy Apps for Free.

Software Piracy is illegal.

© 2022 Simple Easy Apps. All rights reserved.  
*/
.apps-list .col-2:hover{
    background-color: #E6E6E6 !important; 
}

.copyright-link{
    color: #F35555 !important;
}

.copyright-link:hover{
    color: #0085FF !important;
}

html, body{
    height: 100% !important;
    margin: 0 !important;
}

.content{
    min-height: 100% !important;
}

.content-inside{
    padding: 20px !important;
    padding-bottom: 50px;
}

.footer{
    height: 50px;
    margin-top: -50px;
}