/* 
# simpleeasyapps.github.io

Copyright:
Nobody has permission to copy, distribute or modify these websites, software, programs, codes, assets, repositories, or files.

© 2022 Simple Easy Apps. All rights reserved. 
*/
.apps-list .col-2:hover{
    background-color: #E6E6E6 !important; 
}

footer{
    position: fixed !important;
    left: 0 !important;
    bottom: 0 !important;
}
