/* 
# simpleeasyapps.github.io

Copyright:
Nobody has permission to copy, distribute or modify these websites, software, programs, codes, assets, repositories, or files.

© 2022 Simple Easy Apps. All rights reserved. 
*/
.apps-list .col-2:hover{
    background-color: #E6E6E6 !important; 
}

html, body{
    height: 100% !important;
    margin: 0 !important;
}

.content{
    min-height: 100% !important;
}

.content-inside{
    padding: 20px !important;
    padding-bottom: 50px;
}

.footer{
    height: 50px;
    margin-top: -50px;
}